In [1]:
import pandas as pd
import sys
sys.path.insert(0, '../src/SwiftGrasp')
from utils import *


from yahoofinancials import YahooFinancials

import datetime
from dateutil.relativedelta import relativedelta

In [ ]:

# obj = 'AAPL'
# yf = YahooFinancials(obj)
# # today = datetime.datetime.today()
# # seven_days_ago = today - relativedelta(days=8)
# # today_prices = yf.get_historical_price_data(seven_days_ago.strftime('%Y-%m-%d'), today.strftime('%Y-%m-%d'), 'weekly')
# # today_prices = yf.get_historical_price_data('1940-12-01', '1940-12-31', 'weekly')

# yf.get_key_statistics_data()

In [2]:
stock_ticker = 'AAPL'
fsd = FinancialStatementData(stock_ticker)

In [3]:
df1 = fsd.get_balance_sheet()
df1

,totalLiab,totalStockholderEquity,otherCurrentLiab,totalAssets,commonStock,otherCurrentAssets,retainedEarnings,otherLiab,treasuryStock,otherAssets,...,otherStockholderEquity,propertyPlantEquipment,totalCurrentAssets,longTermInvestments,netTangibleAssets,shortTermInvestments,netReceivables,longTermDebt,inventory,accountsPayable
2022-06-25,278202000000,58107000000,56539000000,336309000000,62115000000,16386000000,5289000000,53629000000,-9297000000,52605000000,...,-9297000000,40335000000,112292000000,131077000000,58107000000,20729000000,42242000000,94700000000,5433000000,48343000000
2022-03-26,283263000000,67399000000,58168000000,350662000000,61181000000,15809000000,12712000000,52432000000,-6494000000,51959000000,...,-6494000000,39304000000,118180000000,141219000000,67399000000,23413000000,45400000000,103323000000,5460000000,52682000000
2021-12-25,309259000000,71932000000,57043000000,381191000000,58424000000,18112000000,14435000000,55056000000,-927000000,50109000000,...,-927000000,39245000000,153154000000,138683000000,71932000000,26794000000,65253000000,106629000000,5876000000,74362000000
2021-09-25,287912000000,63090000000,53577000000,351002000000,57365000000,14111000000,5562000000,43050000000,163000000,38762000000,...,163000000,49527000000,134836000000,127877000000,63090000000,27699000000,51506000000,109106000000,6580000000,54763000000

In [5]:
df3 = fsd.get_income_statement()
df3

,researchDevelopment,effectOfAccountingCharges,incomeBeforeTax,minorityInterest,netIncome,sellingGeneralAdministrative,grossProfit,ebit,operatingIncome,otherOperatingExpenses,...,nonRecurring,otherItems,incomeTaxExpense,totalRevenue,totalOperatingExpenses,costOfRevenue,totalOtherIncomeExpenseNet,discontinuedOperations,netIncomeFromContinuingOps,netIncomeApplicableToCommonShares
2022-06-25,6797000000,None,23066000000,None,19442000000,6012000000,35885000000,23076000000,23076000000,None,...,None,None,3624000000,82959000000,59883000000,47074000000,-10000000,None,19442000000,19442000000
2022-03-26,6387000000,None,30139000000,None,25010000000,6193000000,42559000000,29979000000,29979000000,None,...,None,None,5129000000,97278000000,67299000000,54719000000,160000000,None,25010000000,25010000000
2021-12-25,6306000000,None,41241000000,None,34630000000,6449000000,54243000000,41488000000,41488000000,None,...,None,None,6611000000,123945000000,82457000000,69702000000,-247000000,None,34630000000,34630000000
2021-09-25,5772000000,None,23248000000,None,20551000000,5616000000,35174000000,23786000000,23786000000,None,...,None,None,2697000000,83360000000,59574000000,48186000000,-538000000,None,20551000000,20551000000

In [6]:
df4 = fsd.get_cash_statement()
df4

,investments,changeToLiabilities,totalCashflowsFromInvestingActivities,netBorrowings,totalCashFromFinancingActivities,changeToOperatingActivities,netIncome,changeInCash,repurchaseOfStock,totalCashFromOperatingActivities,depreciation,otherCashflowsFromInvestingActivities,dividendsPaid,changeToInventory,changeToAccountReceivables,otherCashflowsFromFinancingActivities,changeToNetincome,capitalExpenditures,issuanceOfStock
2022-06-25,6953000000,-4725000000,4234000000,971000000,-27445000000,2497000000,19442000000,-319000000,-24562000000,22892000000,2805000000,-615000000,-3811000000,-16000000,-981000000,-43000000,3870000000,-2102000000,NaN
2022-03-26,-6390000000,-21398000000,-9265000000,-1751000000,-28351000000,9486000000,25010000000,-9450000000,-22961000000,28166000000,2737000000,-194000000,-3595000000,384000000,9476000000,-44000000,2471000000,-2514000000,NaN
2021-12-25,-12929000000,20275000000,-16106000000,-1000000000,-28159000000,-10497000000,34630000000,2701000000,-23366000000,46966000000,2697000000,-374000000,-3732000000,681000000,-3934000000,-61000000,3114000000,-2803000000,NaN
2021-09-25,4608000000,14050000000,835000000,3220000000,-20382000000,-5602000000,20551000000,653000000,-20449000000,20200000000,2989000000,-530000000,-3640000000,-1429000000,-8809000000,-57000000,-1550000000,-3223000000,544000000.0

In [4]:
sd = StockData(stock_ticker)
df2 = sd.get_stock()
df2.head()

,date,high,low,open,close,volume,adjclose,formatted_date
0,1564579800,55.342499,52.825001,54.105000,53.259998,277125600,51.982613,2019-07-31
1,1564666200,54.507500,51.685001,53.474998,52.107498,216071600,50.857750,2019-08-01
2,1564752600,51.607498,50.407501,51.382500,51.005001,163448400,49.781704,2019-08-02
3,1565011800,49.662498,48.145000,49.497501,48.334999,209572000,47.175735,2019-08-05
4,1565098200,49.517502,48.509998,49.077499,49.250000,143299200,48.068783,2019-08-06

In [4]:
fsd.get_income_statement()

,researchDevelopment,effectOfAccountingCharges,incomeBeforeTax,minorityInterest,netIncome,sellingGeneralAdministrative,grossProfit,ebit,operatingIncome,otherOperatingExpenses,...,nonRecurring,otherItems,incomeTaxExpense,totalRevenue,totalOperatingExpenses,costOfRevenue,totalOtherIncomeExpenseNet,discontinuedOperations,netIncomeFromContinuingOps,netIncomeApplicableToCommonShares
2022-03-26,6387000000,None,30139000000,None,25010000000,6193000000,42559000000,29979000000,29979000000,None,...,None,None,5129000000,97278000000,67299000000,54719000000,160000000,None,25010000000,25010000000
2021-12-25,6306000000,None,41241000000,None,34630000000,6449000000,54243000000,41488000000,41488000000,None,...,None,None,6611000000,123945000000,82457000000,69702000000,-247000000,None,34630000000,34630000000
2021-09-25,5772000000,None,23248000000,None,20551000000,5616000000,35174000000,23786000000,23786000000,None,...,None,None,2697000000,83360000000,59574000000,48186000000,-538000000,None,20551000000,20551000000
2021-06-26,5717000000,None,24369000000,None,21744000000,5412000000,35255000000,24126000000,24126000000,None,...,None,None,2625000000,81434000000,57308000000,46179000000,243000000,None,21744000000,21744000000

In [5]:
fsd.get_cash_statement()

,investments,changeToLiabilities,totalCashflowsFromInvestingActivities,netBorrowings,totalCashFromFinancingActivities,changeToOperatingActivities,netIncome,changeInCash,repurchaseOfStock,totalCashFromOperatingActivities,depreciation,otherCashflowsFromInvestingActivities,dividendsPaid,changeToInventory,changeToAccountReceivables,otherCashflowsFromFinancingActivities,changeToNetincome,capitalExpenditures,issuanceOfStock
2022-03-26,-6390000000,-21398000000,-9265000000,-1751000000,-28351000000,9486000000,25010000000,-9450000000,-22961000000,28166000000,2737000000,-194000000,-3595000000,384000000,9476000000,-44000000,2471000000,-2514000000,NaN
2021-12-25,-12929000000,20275000000,-16106000000,-1000000000,-28159000000,-10497000000,34630000000,2701000000,-23366000000,46966000000,2697000000,-374000000,-3732000000,681000000,-3934000000,-61000000,3114000000,-2803000000,NaN
2021-09-25,4608000000,14050000000,835000000,3220000000,-20382000000,-5602000000,20551000000,653000000,-20449000000,20200000000,2989000000,-530000000,-3640000000,-1429000000,-8809000000,-57000000,-1550000000,-3223000000,544000000.0
2021-06-26,5747000000,307000000,3572000000,3220000000,-29396000000,-6048000000,21744000000,-4730000000,-25595000000,21094000000,2832000000,-78000000,-3767000000,13000000,1031000000,-34000000,1215000000,-2093000000,544000000.0

In [38]:

## Original data types
stock_ticker = 'AAPL'
yf = YahooFinancials(stock_ticker)
balance_sheet_data_qt = yf.get_financial_stmts(frequency = 'annual', statement_type = 'cash')
balance_sheet_data_qt

{'cashflowStatementHistory': {'AAPL': [{'2021-09-25': {'investments': -2819000000,
     'changeToLiabilities': 14002000000,
     'totalCashflowsFromInvestingActivities': -14545000000,
     'netBorrowings': 12665000000,
     'totalCashFromFinancingActivities': -93353000000,
     'changeToOperatingActivities': -6146000000,
     'issuanceOfStock': 1105000000,
     'netIncome': 94680000000,
     'changeInCash': -3860000000,
     'repurchaseOfStock': -92527000000,
     'totalCashFromOperatingActivities': 104038000000,
     'depreciation': 11284000000,
     'otherCashflowsFromInvestingActivities': -608000000,
     'dividendsPaid': -14467000000,
     'changeToInventory': -2642000000,
     'changeToAccountReceivables': -10125000000,
     'otherCashflowsFromFinancingActivities': -129000000,
     'changeToNetincome': 2985000000,
     'capitalExpenditures': -11085000000}},
   {'2020-09-26': {'investments': 5335000000,
     'changeToLiabilities': -1981000000,
     'totalCashflowsFromInvestingActivities': -4289000000,
     'netBorrowings': 2499000000,
     'totalCashFromFinancingActivities': -86820000000,
     'changeToOperatingActivities': 881000000,
     'issuanceOfStock': 880000000,
     'netIncome': 57411000000,
     'changeInCash': -10435000000,
     'repurchaseOfStock': -75992000000,
     'totalCashFromOperatingActivities': 80674000000,
     'depreciation': 11056000000,
     'otherCashflowsFromInvestingActivities': -791000000,
     'dividendsPaid': -14081000000,
     'changeToInventory': -127000000,
     'changeToAccountReceivables': 6917000000,
     'otherCashflowsFromFinancingActivities': -126000000,
     'changeToNetincome': 6517000000,
     'capitalExpenditures': -7309000000}},
   {'2019-09-28': {'investments': 58093000000,
     'changeToLiabilities': -2548000000,
     'totalCashflowsFromInvestingActivities': 45896000000,
     'netBorrowings': -7819000000,
     'totalCashFromFinancingActivities': -90976000000,
     'changeToOperatingActivities': -896000000,
     'issuanceOfStock': 781000000,
     'netIncome': 55256000000,
     'changeInCash': 24311000000,
     'repurchaseOfStock': -69714000000,
     'totalCashFromOperatingActivities': 69391000000,
     'depreciation': 12547000000,
     'otherCashflowsFromInvestingActivities': -1078000000,
     'dividendsPaid': -14119000000,
     'changeToInventory': -289000000,
     'changeToAccountReceivables': 245000000,
     'otherCashflowsFromFinancingActivities': -105000000,
     'changeToNetincome': 5076000000,
     'capitalExpenditures': -10495000000}},
   {'2018-09-29': {'investments': 30845000000,
     'changeToLiabilities': 9172000000,
     'totalCashflowsFromInvestingActivities': 16066000000,
     'netBorrowings': 432000000,
     'totalCashFromFinancingActivities': -87876000000,
     'changeToOperatingActivities': 30016000000,
     'issuanceOfStock': 669000000,
     'netIncome': 59531000000,
     'changeInCash': 5624000000,
     'repurchaseOfStock': -75265000000,
     'totalCashFromOperatingActivities': 77434000000,
     'depreciation': 10903000000,
     'otherCashflowsFromInvestingActivities': -745000000,
     'dividendsPaid': -13712000000,
     'changeToInventory': 828000000,
     'changeToAccountReceivables': -5322000000,
     'otherCashflowsFromFinancingActivities': -105000000,
     'changeToNetincome': -27694000000,
     'capitalExpenditures': -13313000000}}]}}